
.logo center{
      color: #ff0000; 
}

h1{  color: black; 

	font-weight: "";
	text-align: center;
	background:#ffcc80;

    border-radius: 80px;
}

h2{   color: #000000; 

    font-family: '';
	text-align:center;
	background:#ffcc80;
	
    border-radius:50px;
}
h9{
  font-size:40px;  
}
h5{text-align: center;
  
}

p{
   text-align: justify; 
}

.logo_small{
    font-family: 'Pacifico';
    display: inline-block;
    font-size: 20px;
    padding: 4px;
    margin-right: 50px;
    color: red;
    cursor: pointer;
}

nav{
    padding: 0px 20px;
    position: top 0;
}


nav li a:hover{
    background: red;
}



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      


.icono {
    font-size:45px; 
    
    
}









.brand-logo{
    margin-top: 2px;
    height: 70%;
    font-size: 40px;
    
}







body {
	background-color: #FFFFFF;
}

.container1 {
	max-width: 500px;
	height: auto;
	background-color: #f6e8ff;
	margin: 5% auto;
	padding-bottom: 1rem;
	
}




.form__top {
	width: 100%;
	text-align: center;
	padding: 1rem 0 1rem;
	border-top: solid .4rem #c416a3;
	margin-bottom: 1rem;
}

.form__top h2 {
	font-weight: bold;
	color: #f03030;
	font-size: 18px;
}

h2 span {
	color: #ae2db9;
}

.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn__form {
	display: flex;
	justify-content: space-around;
	margin-top: 5rem;
}

.input, .btn__submit, .btn__reset{
	background-color: #f7f7f7;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #6edff4 .2rem;
	transition: all .5s;
}

.input:focus {
	border-bottom: solid #f35391 .2rem;
}

.btn__submit, .btn__reset {
	width: 40%;
	border-bottom: none;
	background-color: #f800ac;
	color: white;
}

.btn__reset {
	background-color: #EDA135;
}

.btn__submit:hover {
	background-color: #4C9ED9;
}

.btn__reset:hover{
	background-color: #FA9535;
	
	
    }








/* ESTILOS DE EJEMPLO */

.container-text{
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    box-sizing: border-box;
}

.container-text h1{
    font-size: 30px;
    font-weight: 500;
}

.container-text p{
    font-size: 18px;
    font-weight: 300;
}


@media screen and (max-width: 800px) {
    
    .nav-arrows a {
        width: 32px;
        height: 32px;
    }
    
    .sb-description {
        height: 30px;
    }
    
    .sb-description h3{
        margin: 3px;
    }
}







.middle1{

  
  text-align: center;
}
.btn1{
  display: inline-block;
  width: 80px;
  height: 80px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #ffcc80;
  overflow: hidden;
  position: relative;
}
.btn1 i{
  line-height: 80px;
  font-size: 30px;
  transition: 0.2s linear;
}
.btn1:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn1::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background:#3498db ;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn1:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}




body{
    background:#fffef5 ;
}





body{
   
 
    justify-content: center;
  
}

img{
    max-width: 100%;
}

.container11-all{
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination1{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}


input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination1 .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination1 .pagination-item[for="2"]{
    background: #fff;
}


input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination1 .pagination-item[for="3"]{
    background: #fff;
}


@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    
    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}
.cargando {
	display: none;
	text-align: center;
	width: 95%;
}

.resultado{
	color: #000;
	font-weight: 600;
	text-align: center;
	width: 95%;
}


.pagination1{
  
  
  
    display: flex;
    justify-content: center;}

.pagination{
  
  
  
    display: flex;
    justify-content: center;}





